md-card(md-card-toggle='', module-name-plural = '{{cardModule.module.pluralName}}', md-theme = '{{cardModule.module.pluralName}}')
  mdx-list(module = 'cardModule.module')
    agregados-show(item='itemSelected')
    agregados-form(item='itemSelected')
